管理者顧客一覧画面




<table class="table w-53 "style="margin-left: 50px ">
     <tr>
         <td class="col-2">会員ID</td>
         <td class="col-3">氏名</td>
         <td class="col-5">メールアドレス</td>
         <td class="col-5">ステータス</td>
     </tr>
</table>
<% @customers.each do |customer| %>
<table class="table w-53 "style="margin-left: 50px ">
     <tr>
         <td class="col-2"><%= customer.id %></td>
         <td class="col-3"><%= link_to customer.last_name+customer.first_name  ,admin_customer_path(customer.id)  %>
         <td class="col-5"><%= customer.email %></td>
         <td class="col-5"><% if customer.is_deleted %>
                           退会
                           <% else %>
                            <p class="text-success">有効</p>
                           <% end %>

                            </td>
     </tr>
</table>








<% end %>
<%= paginate @customers %>